:root {
    --color-neutral-100: white;
    --color-neutral-300: lightgray;
    --color-neutral-500: gray;
    --color-neutral-900: black;
    --color-primary-400: hsl(185, 100%, 17%);
    --color-primary-500: hsl(181, 100%, 23%);
    --color-accent-300: hsl(8, 52%, 92%);
    --color-accent-500:  hsl(41, 100%, 55%);
    --color-shadow: rgba(0.7,0.7,0.7,0.2);

    --font-size-300: 0.6250em;
    --font-size-500: 1.0000em;
    --font-size-700: 2.0000em;
    --font-size-700: 2.5000em;
    --font-size-800: 3.0000em;
    --font-size-900: 4.0000em;

    --font-default: "Century Gothic", "Nanum Gothic", sans-serif;
    --font-heading: "Playfair Display", serif;
}

body {
    color: var(--color-neutral-900);
    background: var(--color-neutral-100);
    font-optical-sizing: auto;
    font-style: normal;
    font-family: var(--font-default);
    font-weight: 500;
}
