.button {
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.button:hover {
    box-shadow: var(--shadow-hover);
}
