/* TODO: Merge with info-container */
.contact-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 25vh;
    padding-left: 10rem;
    padding-right: 6rem;
    padding-bottom: 3rem;
    width: 60rem;
    margin: auto;
    gap: 4rem;
}

.contact {
    position: relative;
    display: flex;
    justify-content: end;
}

.contact img {
    border-radius: 1rem;
    width: 18rem;
}

.contact__info {
    position: absolute;
    background-color: var(--color-primary-500);
    padding: 2rem;
    font-weight: 200;
    font-size: var(--font-size-400);
    color: var(--color-accent-300);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 2rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: fit-content;
    left: -55%;
}

.contact__info a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.contact__info-item {
    display: flex;
    align-items: center;
}

.contact__info-item:not(:first-child) {
    margin-top: 1rem;
}

.contact__icon::after {
    content: '';
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-size: cover;
    margin-right: 1rem;
}

.contact__person-icon::after {
    background-image: url("../img/icons/light/Person.png");
}

.contact__mail-icon::after {
    background-image: url("../img/icons/light/Mail.png");
}

.contact__home-icon::after {
    background-image: url("../img/icons/light/House.png");
}

.contact__instagram-icon::after {
    background-image: url("../img/icons/light/Instagram.png");
}

.contact__linkedin-icon::after {
    background-image: url("../img/icons/light/Linkedin.png");
}
