.contact {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.contact img {
    position: relative;
    border-radius: 1rem;
    width: 10rem;
    top: 2rem;
}

.contact__info {
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 2rem;
    height: fit-content;
}

.contact__info a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.contact__info-item {
    display: flex;
    align-items: center;
}

.contact__info-item:not(:first-child) {
    margin-top: 1rem;
}

.contact__icon::after {
    content: '';
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-size: cover;
    margin-right: 1rem;
}

.contact__person-icon::after {
    background-image: url("../img/icons/light/Person.png");
}

.contact__mail-icon::after {
    background-image: url("../img/icons/light/Mail.png");
}

.contact__home-icon::after {
    background-image: url("../img/icons/light/House.png");
}

.contact__instagram-icon::after {
    background-image: url("../img/icons/light/Instagram.png");
}

.contact__linkedin-icon::after {
    background-image: url("../img/icons/light/Linkedin.png");
}

@media only screen and (min-width: 1000px) {
    .contact {
        flex-direction: row;
        justify-content: end;
        width: 50%;
    }

    .contact img {
        width: 18rem;
    }

    .contact__info {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -1rem;
        margin: auto 0;
        z-index: 1;
        padding-top: 2rem;
    }
}
