.footer {
    display: flex;
    flex-direction: column;
    padding-left: var(--space-document-left);
    padding-right: var(--space-document-right);
    padding-top: var(--space-document-top);
    padding-bottom: var(--space-document-bottom);
}

.footer__copyright {
    margin-bottom: 1rem;
}

.footer__nav {
    display: flex;
    border-top: 1px solid var(--color-neutral-300);
    justify-content: space-between;
    flex-direction: row;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 1rem;
}

.footer__nav-item a {
    color: inherit;
    text-decoration: none;
}

@media only screen and (min-width: 1000px) {
    .footer__nav {
        justify-content: start;
        gap: 2rem;
    }

    .footer__nav-list {
        flex-direction: row;
        gap: 2rem;
    }

    .footer__copyright {
        margin-bottom: 4rem;
    }
}
