.header {
    position: absolute;
    display: flex;
    padding: 4rem 10rem;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 20rem);
    z-index: 1;
}

.header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo img {
    width: 5rem;
    height: 5rem;
}

.header__nav-list {
    display: flex;
    align-items: center;
}

.header__nav-item {
    margin-left: 4rem;
}

.header__nav-item a {
    color: inherit;
    text-decoration: none;
}
