.legal {
    padding-top: 12rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 2rem;
}

.legal section {
    margin-top: 2rem;
}

.legal h2 {
    margin-bottom: 1rem;
}

.legal p {
    text-align: justify;
    font-weight: 200;
}

.legal section p:not(:first-of-type) {
    margin-top: 1rem;
}

.legal ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.legal li {
    margin-bottom: 0.5rem;
}
