.profile {
    position: relative;
    top: 4rem;
}

.profile img {
    border-radius: 2rem;
    box-shadow: var(--shadow-neutral);
    width: 25rem;
    max-width: 100%;
}

@media only screen and (min-width: 1000px) {
    .profile {
        left: -4rem;
    }
}
