.welcome {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("../img/Home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-message {
    width: 32rem;
    padding-top: 20rem;
    padding-left: 5rem;
    font-size: var(--font-size-800);
    color: var(--color-accent-300);
    text-align: center;
    line-height: 5rem;
    font-weight: 200;
}

.welcome-scroll-button::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    bottom: 3rem;
    left: 50%;
    border-right: 4px solid var(--color-accent-500);
    border-bottom: 4px solid var(--color-accent-500);
    border-radius: 4px;
    cursor: pointer;
    rotate: 45deg;
}

.welcome-bounce::after {
    animation: pulse 0.8s infinite ease-in-out alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}
