:root {
    --color-neutral-100: white;
    --color-neutral-300: lightgray;
    --color-neutral-500: gray;
    --color-neutral-900: black;

    --color-primary-400: #007172;
    --color-primary-500: #005259;

    --color-accent-300:  #FBF6F5;
    --color-accent-500:  #F29325;
}

.fg-neutral-light {
    color: var(--color-neutral-100);
}

.fg-neutral-medium {
    color: var(--color-neutral-500);
}

.fg-neutral-dark {
    color: var(--color-neutral-900);
}

.fg-primary-light {
    color: var(--color-primary-400);
}

.fg-primary-dark {
    color: var(--color-primary-500);
}

.fg-accent-light {
    color: var(--color-accent-300);
}

.fg-accent-dark {
    color: var(--color-accent-500);
}

.fg-primary-light--hover:hover {
    color: var(--color-primary-400);
}

.fg-primary-dark--hover:hover {
    color: var(--color-primary-500);
}

.fg-accent-light--hover:hover {
    color: var(--color-accent-300);
}

.fg-accent-dark--hover:hover {
    color: var(--color-accent-500);
}

.bg-primary-light {
    background-color: var(--color-primary-400);
    color: var(--color-accent-300);
}

.bg-primary-dark {
    background-color: var(--color-primary-500);
    color: var(--color-accent-300);
}

.bg-accent-light {
    background-color: var(--color-accent-300);
}

.bg-accent-dark {
    background-color: var(--color-accent-500);
    color: var(--color-neutral-100);
}
