.contact {
    grid-template-rows:
        var(--grid-outer-space)
        var(--header-height)
        auto
        auto
        auto
        auto
        var(--grid-outer-space);
    grid-template-areas:
        '. .         .       .'
        '. navbar    logo    .'
        '. profile   profile .'
        '. form      form    .'
        '. copyright .       .'
        '. links     links   .'
        '. .         .       .';
}

@media screen and (min-width: 768px) {
    .contact {
        grid-template-columns: var(--grid-outer-space) var(--logo-width) auto auto var(--grid-outer-space);
        grid-template-rows:
            var(--grid-outer-space)
            var(--header-height)
            auto
            auto
            auto
            var(--grid-outer-space);
        grid-template-areas:
            '. .         .         .         .'
            '. logo      navbar    navbar    .'
            '. profile   profile   form      .'
            '. copyright copyright copyright .'
            '. links     links     links     .'
            '. .         .          .        .';
    }
}
 