.portfolio {
    grid-template-rows:
        var(--grid-outer-space)
        var(--header-height)
        auto
        auto
        auto
        auto
        var(--grid-outer-space);
    grid-template-areas:
        '. .         .       .'
        '. navbar    logo    .'
        '. scroll    scroll  .'
        '. content   content .'
        '. copyright .       .'
        '. links     links   .'
        '. .         .       .';
}

@media screen and (min-width: 768px) {
    .portfolio {
        grid-template-areas:
            '. .         .       .'
            '. logo      navbar  .'
            '. scroll    scroll  .'
            '. content   content .'
            '. copyright .       .'
            '. links     links   .'
            '. .         .       .';
    }
}

.portfolio-article {
    grid-area: content;
    margin-bottom: 6rem;
}

.portfolio-article section {
    padding-top: 4rem;
    padding-bottom: 2rem;
}
