.thankyou {
    grid-template-rows:
        var(--grid-outer-space)
        var(--header-height)
        auto
        auto
        auto
        auto
        var(--grid-outer-space);
    grid-template-areas:
        '. .         .        .'
        '. navbar    logo     .'
        '. profile   profile  .'
        '. thankyou  thankyou .'
        '. copyright .        .'
        '. links     links    .'
        '. .         .        .';
}

@media screen and (min-width: 768px) {
    .thankyou {
        grid-template-areas:
            '. .         .         .'
            '. logo      navbar    .'
            '. profile   profile   .'
            '. thankyou  thankyou  .'
            '. copyright copyright .'
            '. links     links     .'
            '. .         .         .';
    }
}
 