.about-widget {
    grid-area: content;
    margin-bottom: 3rem;
}

.about-widget__info-box {
    margin-top: -3rem;
}

@media screen and (min-width: 768px) {
    .about-widget {
        max-width: 56rem;
        margin: auto;
        padding-bottom: 4rem;
    }

    .about-widget__info-box {
        margin-top: 2rem;
    }

    .about-widget__info-box>p:first-of-type {
        border-top-left-radius: 2rem;
    }

    .about-widget__info-box>p:last-of-type {
        border-bottom-left-radius: 12rem;
    }
}

.about-widget img {
    width: 80%;
    max-width: 20rem;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .about-widget img {
        width: 16rem;
        max-width: 50%;
        margin-left: -3rem;
        margin-top: -16rem;
    }
}

.about-widget h1,
.about-widget p {
    padding-left: 1rem;
    padding-right: 1rem;
}

.about-widget p:last-child {
    padding-bottom: 4rem;
    border-bottom-left-radius: 8rem;
    border-bottom-right-radius: 2rem;
}

@media screen and (min-width: 768px) {
    .about-widget p {
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 6rem;
    }
}

.about-widget h1 {
    padding-top: 4rem;
    padding-bottom: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.about-widget p {
    padding-bottom: 0.5rem;
}

.about-widget .button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .about-widget .button {
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: 4rem;
    }

    .about-widget p:last-child {
        padding-bottom: 1rem;
    }

}
