#cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.cards__grid {
    display: grid;
    gap: 1rem;
    justify-items: center;
}

#cards img,
#cards p {
    max-width: calc(min(24rem, 80%));
    margin: auto;
}

@media  screen and (min-width: 1024px) {
    .cards__grid {
        grid-template-columns: 1fr 1fr;
    }
}
