.privacy-widget {
    grid-area: content;
    margin-bottom: 1rem;
}

.privacy-widget ul {
    list-style: none;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
    padding: 0;
}

.privacy-widget h1 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.privacy-widget h2 {
    margin-bottom: 1rem;
}

.privacy-widget .font-text {
    font-weight: 200;
    margin-bottom: 1rem;
}
