.profile {
    grid-area: profile;
}

@media screen and (min-width: 1024px) {
    .profile {
        justify-self: end;
    }
}

.profile img {
    width: 10rem;
    z-index: 1;
}

.profile__info {
    list-style: none;
    margin-top: -2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 0.5rem;
}

.profile__info a {
    text-decoration: none;
}

.profile__info li {
    margin-bottom: 1rem;
}

.profile__info li::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-size: contain;
    margin-right: 2rem;
}

.profile-icon--person::before    { background-image: url('Person_Light.png'); }
.profile-icon--mail::before      { background-image: url('Mail_Light.png'); }
.profile-icon--house::before     { background-image: url('House_Light.png'); }
.profile-icon--instagram::before { background-image: url('Instagram_Light.png'); }
.profile-icon--linkedin::before  { background-image: url('Web_Light.png'); }
