.sidescroll {
    position: sticky;
    grid-area: scroll;
    padding: 1rem;
    top: 0;
    margin: 0;
    list-style: none;
    align-self: start;

}

.sidescroll-bg {
    background-color: var(--color-accent-light);
}

.sidescroll-bg a::before {
    border: none !important;
}

.sidescroll a {
    font-size: 0;
    text-decoration: none;
    text-wrap: nowrap;
    overflow: visible;
}

.sidescroll a::before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-size: cover;
    background-color: transparent;
    border: 1px solid var(--color-primary-dark);
}

.sidescroll a.sidescroll--active::before {
    background-color: var(--color-primary-dark);
}

@media screen and (min-width: 768px) {
    .sidescroll a.sidescroll--active {
        font-size: 1em;
    }
}

.sidescroll li:nth-of-type(1) a::before {
    background-image: url('Logos_Dark.png');
}

.sidescroll li:nth-of-type(2) a::before {
    background-image: url('Infographics_Dark.png');
}

.sidescroll li:nth-of-type(3) a::before {
    background-image: url('Business_Cards_Dark.png');
}

.sidescroll li:nth-of-type(4) a::before {
    background-image: url('Invitations_Dark.png');
}

.sidescroll li:nth-of-type(5) a::before {
    background-image: url('Flyers_Dark.png');
}

.sidescroll li:nth-of-type(6) a::before {
    background-image: url('Packaging_Dark.png');
}


.sidescroll li:nth-of-type(1) a.sidescroll--active::before {
    background-image: url('Logos_Light.png');
}

.sidescroll li:nth-of-type(2) a.sidescroll--active::before {
    background-image: url('Infographics_Light.png');
}

.sidescroll li:nth-of-type(3) a.sidescroll--active::before {
    background-image: url('Business_Cards_Light.png');
}

.sidescroll li:nth-of-type(4) a.sidescroll--active::before {
    background-image: url('Invitations_Light.png');
}

.sidescroll li:nth-of-type(5) a.sidescroll--active::before {
    background-image: url('Flyers_Light.png');
}

.sidescroll li:nth-of-type(6) a.sidescroll--active::before {
    background-image: url('Packaging_Light.png');
}

@media screen and (min-width: 768px) {
    .sidescroll {
        top: 4rem;
        margin: 0;
    }

    .sidescroll-bg {
        background-color: transparent;
    }
}
