.sidescroll {
    position: sticky;
    grid-area: scroll;
    top: 1rem;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    list-style: none;
    align-self: start;
}

.sidescroll a {
    font-size: 0;
    text-decoration: none;
    text-wrap: nowrap;
    overflow: visible;
}

.sidescroll a::before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--color-accent-dark);
    background-size: cover;
}

.sidescroll a.sidescroll--active::before {
    background-color: var(--color-primary-dark);
}

@media screen and (min-width: 768px) {
    .sidescroll a.sidescroll--active {
        font-size: 1em;
    }
}

.sidescroll a:nth-child(1)::before {
    background-image: url('Logos_Dark.png');
}

.sidescroll a:nth-child(2)::before {
    background-image: url('Infographics_Dark.png');
}

.sidescroll a:nth-child(3)::before {
    background-image: url('Business_Cards_Dark.png');
}

.sidescroll a:nth-child(4)::before {
    background-image: url('Invitations_Dark.png');
}

.sidescroll a:nth-child(5)::before {
    background-image: url('Flyers_Dark.png');
}

.sidescroll a:nth-child(6)::before {
    background-image: url('Packaging_Dark.png');
}


.sidescroll a:nth-child(1).sidescroll--active::before {
    background-image: url('Logos_Light.png');
}

.sidescroll a:nth-child(2).sidescroll--active::before {
    background-image: url('Infographics_Light.png');
}

.sidescroll a:nth-child(3).sidescroll--active::before {
    background-image: url('Business_Cards_Light.png');
}

.sidescroll a:nth-child(4).sidescroll--active::before {
    background-image: url('Invitations_Light.png');
}

.sidescroll a:nth-child(5).sidescroll--active::before {
    background-image: url('Flyers_Light.png');
}

.sidescroll a:nth-child(6).sidescroll--active::before {
    background-image: url('Packaging_Light.png');
}

@media screen and (min-width:  768px) { 
    .sidescroll {
        top: 4rem;
        margin: 0;
    }
}
