.welcome {
    grid-area: welcome;
    display: flex;
    flex-direction: column;
    margin: 6rem auto 30vh 4rem;
    text-align: center;
    justify-content: end;
}

@media screen and (max-width: 768px) {
    .welcome-line { display: none;}
}

@media screen and (min-width: 1024px) {
    .welcome .font-emphasis {
        font-size: 3rem;
    }
}

.welcome-line {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 2.5s steps(40, end) 0s 1 normal forwards;
}

.welcome-line:nth-child(1) {
    animation-delay: 1s;
}

.welcome-line:nth-child(2) {
    animation-delay: 3.5s;
}

.welcome-line:nth-child(3) {
    animation-delay: 6.2s;
}

.welcome-button {
    position: absolute;
    display: inline-block;
    width: 2.5rem;
    height: 1.667rem;
    bottom: 1rem;
    left: calc(50vw - 1.25rem);
    animation: jumping 2s infinite ease-in-out alternate;
    animation-delay: 7.5s;
}

.welcome-button::before,
.welcome-button::after {
    position: absolute;
    display: block;
    content: '';
    top: -5%;
    width: 15%;
    height: 110%;
    background-color: var(--color-accent-dark);
    border-radius: 0.6rem;
}

.welcome-button::before {
    rotate: 45deg;
    left: 65%;
}

.welcome-button::after {
    rotate: -45deg;
    right: 65%;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes jumping {
    from { scale: 1; }
    to { scale: 1.5; }
}
