body {
    --grid-outer-space: 0.5rem;
    --header-height: 12rem;

    margin: 0;

    display: grid;
    grid-template-columns: var(--grid-outer-space) auto auto var(--grid-outer-space);
    grid-template-rows:    var(--grid-outer-space) var(--header-height) auto auto auto var(--grid-outer-space);
    grid-template-areas:
        '. .         .       .'
        '. navbar    logo    .'
        '. content   content .'
        '. copyright .       .'
        '. links     links   .'
        '. .         .       .';
}
