body {
    --grid-outer-space: 0.5rem;
    --header-height: 12rem;
    --logo-width: 6rem;

    margin: 0;
    scroll-behavior: smooth;

    display: grid;
    grid-template-columns: var(--grid-outer-space) auto var(--logo-width) var(--grid-outer-space);
    grid-template-rows:    var(--grid-outer-space) var(--header-height) auto auto auto var(--grid-outer-space);
    grid-template-areas:
        '. .         .       .'
        '. navbar    logo    .'
        '. content   content .'
        '. copyright .       .'
        '. links     links   .'
        '. .         .       .';
}

body:not(.index)::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 60vw;
    height: 60vh;
    background-color: var(--color-accent-light);
    z-index: -1;
    border-top-left-radius: calc(min(10rem, 40vw));
}
